$primary: #27aba6;
$secondary: #8afaf8;
$tertiary: #4aa8ae;

//Discord colors
$blurple: #7289DA;
$greyple: #99AAB5;
$dark-but-not-black: #2C2F33;
$not-quite-black: #23272A;


//Font-Family
$family-primary: 'Nunito Sans', sans-serif;


