@import '../variables';

#guild-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.guild {
  display: flex;
  justify-content: center;
}

#prefix {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 60%;
}

#prefix-input {
  justify-content: flex-start;
  margin-left: 15px;
}